<br>
<p>
<div class="d-flex justify-content-between flex-wrap">

  <% posts.each do |post| %>
  <div class="card-trip mb-5" style="width: 20rem;" id="cart-trip-test">
    <%  if post.photos.attached? %>
      <%= cl_image_tag post.photos.first.key %>
    <% else %>
      <img src="https://media.nesta.org.uk/images/good_help_bad_help.max-1200x600.png"/>
    <% end %>

    <div class="card-trip-infos justify-content-between">
      <div>
        <div class="d-flex justify-content-between">
          <h2><%= post.title %></h2>
          <div>
            <h6 class="icons-post-edit">
              <%= link_to "", post_path(post), class: "fas fa-eye" %>&nbsp;
              <% if post.user == current_user %>
              <%= link_to "", post_path(post), data: { confirm: 'Are you sure?'}, method: :delete, class: "fas fa-trash" %>&nbsp;
              <%= link_to "", edit_post_path(post), class: "fas fa-pen" %>
              <% end %>
            </h6>
          </div>
        </div>
        <div class="par-card" >
        <p><%= post.content %></p>
        </div>
      </div>
      </div>
    </div>
  <% end %>
</div>
