<br>
<p>
<div class="row justify-content-center">

  <% posts.each do |post| %>
  <div class="card-trip" style="width: 29rem;">
   
    <%  if post.photos.attached? %>
      <%= cl_image_tag post.photos.first.key %>
    <% else %>
      <img src="https://media.nesta.org.uk/images/good_help_bad_help.max-1200x600.png"/>
    <% end %>
    
    <div class="card-trip-infos justify-content-space-between">
      <div>
        <h2><%= post.title %></h2>
        <p><%= post.content %></p>
      </div>

      <p> 
        <%= link_to "ðŸ‘ï¸", post_path(post) %>
        <% if post.user == current_user %>
          <%= link_to "ðŸ—‘ï¸", post_path(post), data: { confirm: 'Are you sure?'}, method: :delete, class: "btn-primary" %>
          <%= link_to "âœï¸", edit_post_path(post) %>
        <% end %>
      </p>
   
      </div>


    </div>
  <% end %>



</div>