<div class="d-flex justify-content-between flex-wrap">


  <% @posts.each do |post| %>
    <div class="card-trip card-post mt-5 mb-5" id="post-<%= post.id %>" style="width: 20rem;">
      <%= link_to post_path(post), class: "custom-card mb-5" do  %>


      <%  if post.photos.attached? %>
      <%= cl_image_tag post.photos.first.key %>
      <% else %>
      <img src="https://media.nesta.org.uk/images/good_help_bad_help.max-1200x600.png" />
      <% end %>

      <div class="card-trip-infos">
        <h2><%= post.title %></h2>
      </div>



      <div class="date-likes">
        <%= post.created_at.strftime("%m/%d/%Y")  %>
        <% if post.likes.count > 0 %>
        <i class="text-primary"> <%= post.likes.count %> <%= (post.likes.count) == 1 ? ' Like' : 'Likes'%></i>
        <% end %>
      </div>

      <div class="card-trip-infos card-post-info">
        <div>
          <!-- Avatar -->
          
       
            <h6 class="icons-edit-delete">
              <% if post.user == current_user %>
              <%= link_to "", post_path(post), data: { confirm: 'Are you sure?'}, method: :delete, class: "fas fa-trash" %>&nbsp;
              <%= link_to "", edit_post_path(post), class: "fas fa-pen" %>
              <% end %>
            </h6>
     

          <p class="card-post-text"><%= post.content %></p>
          <!-- Button -->
        </div>

        <div>
          <%# <i class="fas fa-share-alt text-white float-right p-1 my-1 card-trip-user card-trip-likes"
            data-toggle="tooltip" data-placement="top" title="Share this post"></i> %>


          <% pre_like = post.likes.find { |like| like.user_id == current_user.id} %>
          <% if pre_like %>
          <%= link_to post_like_path(post, pre_like), method: :delete, remote: true do %>
          <i class="fas fa-heart text-danger float-right p-1 my-1 mr-3 card-trip-user card-trip-likes"
            data-toggle="tooltip" data-placement="top" title="I like it"></i>
          <% end %>
          <% else %>
          <%= link_to post_likes_path(post), method: :post, remote: true do %>
          <i class="fas fa-heart text-white float-right p-1 my-1 mr-3 card-trip-user card-trip-likes"
            data-toggle="tooltip" data-placement="top" title="I like it"></i>
          <% end %>
          <% end %>
          <%# if post.user == current_user %>
          <%# link_to post_path(post), data: { confirm: 'Are you sure?'}, method: :delete do %>
          <%# <i class="fa fa-trash" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Delete Post"></i> %>
          <%# end %>
          <%# link_to edit_post_path(post) do %>
          <%# <i class="fas fa-edit" aria-hidden="true" ata-toggle="tooltip" data-placement="top" title="Edit Post"></i> %>
          <%# end %>
          <%# end %> 
          <%# </i> %>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>

</div>
