

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @profile.photo.key if @profile.photo.attached? %>);">
  <div class="container">
    <h1><%= @profile.name %></h1>
    <p><%= @profile.bio if @profile.bio %></p>
    <%# FRIENDSHIP BUTTON %>
  <% if @profile.user != current_user %>
    <% if @friendship.status == "accepted" %>
      <%= button_tag "Friend", disabled: true, class: "btn btn-success" %>
    <% elsif @friendship.asker == current_user && @friendship.status == "pending" %>
      <%= button_tag "Pending", disabled: true, class: "btn btn-success" %>
    <% elsif @friendship.asker == current_user && @friendship.status == "rejected" %>
      <button type="button" class="btn btn-outline-warning">Please make another request in 14 days. Or send this person a message.</button>
    <% elsif @friendship.receiver == current_user && @friendship.status == "pending" %>
      <%= button_tag "Respond", disabled: true, class: "btn btn-success" %>
    <% else %>
      <%= simple_form_for ([@profile, @friendship]) do |f| %>
        <%= f.input :status, input_html: {value: 'pending'} %>
        <%# hidden_field_tag(:status, 'pending') %>
        <%= f.submit 'Add Friend', class: "btn btn-primary" %>
        <%# f.button :button, 'Add Friend', type: 'submit', name: 'status', value: 'pending', class: "btn btn-primary" %>
        <%# f.submit "Add Friend", name: "status", value: "pending", class: "btn btn-primary" %>
      <% end %>
    <% end %>
  <% end %>

  </div>
</div>

<div class="container">

  <h5>Languages</h5>
  <p><%= @profile.native_language if @profile.native_language %>
  <% if @profile.second_language? %>
     <%= @profile.second_language %></p>
  <% end %>
  <br>
  <h5>Address</h5>
  <p><%= @profile.address if @profile.address %></p>
  <% @profile.diseases.each do |disease| %>
     <p>I´m living with: <%= disease.name %> </p>
     <% end %>

  <%= link_to "See others", profiles_path %>
  <% if @profile.user == current_user %>
    <%= link_to "Edit", edit_profile_path %>
  <% end %>

</div>


<div class="container">
  <h2>You living with it? Us Too.</h2>

  <div class="cards my-5">
    <div class="card-trip">
      <img src="https://res.cloudinary.com/tungtzet/image/upload/v1597147974/Women-together_rs9u6c.jpg" />
      <div class="card-trip-infos">
        <h2>connect</h2>
        <div>
          <p>Short description here!</p>
        </div>
      </div>
    </div>