<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @profile.photo.key if @profile.photo.attached? %>);">
  <div class="container">
    <h1><%= @profile.name %></h1>
    <p><%= @profile.bio if @profile.bio %></p>

  <%# FRIENDSHIP BUTTON START %>
  <% if @profile.user != current_user %>
    <% if @friendship.status == "accepted" %>
      <div class="dropdown">
      <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Friend
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <%= link_to "Unfriend", user_friendship_path(@friendship), data: { confirm: 'Are you sure?'}, method: :delete, remote: true, class: "dropdown-item" %>
      </div>
    </div>
    <% elsif @friendship.asker == current_user && @friendship.status == "pending" %>
      <div class="dropdown">
        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          &check; Request Sent
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <%= link_to "Cancel", user_friendship_path(@friendship), data: { confirm: 'Are you sure?'}, method: :delete, remote: true, class: "dropdown-item" %>
        </div>
      </div>
    <% elsif @friendship.status == "rejected" %>
      <button type="button" class="btn btn-outline-warning">Please make another request in 14 days. Or send this person a message.</button>
    <% elsif @friendship.receiver == current_user && @friendship.status == "pending" %>
      <div class="dropdown">
      <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Respond
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <%= link_to "Accept", user_friendship_path(@friendship, friendship: { status: 'accepted' }), method: :patch, class: "dropdown-item" %>
        <%= link_to "Deny", user_friendship_path(@friendship, friendship: { status: 'rejected' }), data: { confirm: 'Are you sure?'}, method: :patch, class: "dropdown-item" %>
      </div>
    </div>
    <% else %>
      <%= link_to "Add Friend", profile_friendships_path([@profile, @friendship], friendship: { status: 'pending' }), method: :post, remote: true, class: "btn btn-primary" %>
    <% end %>
  <% end %>
  <%# FRIENDSHIP BUTTON END %>
  </div>
</div>

<div class="container">

  <h5>Languages</h5>
  <p><%= @profile.native_language if @profile.native_language %>
  <% if @profile.second_language? %>
     <%= @profile.second_language %></p>
  <% end %>
  <br>
  <h5>Address</h5>
  <p><%= @profile.address if @profile.address %></p>
  <% @profile.diseases.each do |disease| %>
     <p>I´m living with: <%= disease.name %> </p>
     <% end %>

  <%= link_to "See others", profiles_path %>
  <% if @profile.user == current_user %>
    <%= link_to "Edit", edit_profile_path %>
  <% end %>

</div>
