
<div class="container">

 <div class="card">
  <h1><%= @profile.name %></h1>
  <%= cl_image_tag @profile.photo.key if @profile.photo.attached? %>
  <h5>About me</h5>
  <p><%= @profile.bio if @profile.bio %></p>
  <%# cl_image_tag @profile.photo.key, gravity: :face %>

<div class="form">
  <%= simple_form_for ([@profile, @friendship]) do |f| %>
      <% f.input :status %>
      <%= f.submit "Add Friend", class: "btn btn-primary" %>
  <% end %>
</div>

  <h5>Languages</h5>
  <p><%= @profile.native_language if @profile.native_language %>
  <% if @profile.second_language? %>
     <%= @profile.second_language %></p>
  <% end %>
  <br>
  <h5>Address</h5>
  <p><%= @profile.address if @profile.address %></p>
</div>

  <%= link_to "See others", profiles_path %>
  <% if @profile.user == current_user %>
    <%= link_to "Edit", edit_profile_path %>
  <% end %>

</div>


