<div class="container flex-container my-6" id="profile-bio">
  <!-- IMG PROFILE -->
  <div class="mr-4" >
    <img src="<%= cl_image_path @profile.photo.key, width: 300, height: 300, gravity: :face, crop: :fill if @profile.photo.attached? %>"
    class="img-thumbnail">
  </div>

  <!-- TEXT -->
  <div class="flex-container mt-4" id="profile-text">

    <!-- NAME -->
    <div style="display: flex" class="container mb-3" id="profilename">
      <h1><%= @profile.name %></h1>
    </div>

    <!-- DESCRIPTION -->
    <div  class="container profile-description">
      <p><i class="fas fa-map-marker-alt"></i> <%= @profile.address if @profile.address %></p>
      <p><i class="fas fa-highlighter"></i> <%= @profile.bio if @profile.bio %></p>
      <p><i class="fas fa-american-sign-language-interpreting"></i>
        <% if @profile.native_language || @profile.second_language %>
        <%= @profile.native_language.capitalize if @profile.native_language %>
        <% if @profile.second_language %> &
        <%= @profile.second_language.capitalize %>
        <% end %>
        <% end %>
      </p>
      <% unless @profile.diseases.empty? %>
      <p><i class="fas fa-file-medical"></i>
        <% @profile.diseases.each do |disease| %>
        Living with: <%= disease.name %>
        <% end %>
      </p>
      <% end %>
    </div>

    <%# CIRCLE %>
    <%# <div class="circle" id="circle-profile"></div> %>


    <div class="flex-container" id="friendship-button">
      <%# FRIENDSHIP BUTTON START %>
      <% if @profile.user != current_user %>
      <% if @friendship.status == "accepted" %>
      <div class="dropdown">
        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Friend
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <%= link_to "Unfriend", friendship_path(@friendship), data: { confirm: 'Are you sure?'}, method: :delete, remote: true, class: "dropdown-item" %>
        </div>
      </div>
      <% elsif @friendship.asker == current_user && @friendship.status == "pending" %>
      <div class="dropdown">
        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          &check; Request Sent
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <%= link_to "Cancel", friendship_path(@friendship), data: { confirm: 'Are you sure?'}, method: :delete, remote: true, class: "dropdown-item" %>
        </div>
      </div>
      <% elsif @friendship.status == "rejected" %>
      <button type="button" class="btn btn-outline-warning">Please make another request in 14 days. Or send this person a message.</button>
      <% elsif @friendship.receiver == current_user && @friendship.status == "pending" %>
      <div class="dropdown">
        <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Respond
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <%= link_to "Accept", friendship_path(@friendship, friendship: { status: 'accepted' }), method: :patch, class: "dropdown-item" %>
          <%= link_to "Deny", friendship_path(@friendship, friendship: { status: 'rejected' }), data: { confirm: 'Are you sure?'}, method: :patch, class: "dropdown-item" %>
        </div>
      </div>
      <% else %>
      <%= link_to "Add Friend", profile_friendships_path([@profile, @friendship], friendship: { status: 'pending' }), method: :post, remote: true, class: "btn btn-primary" %>
      <% end %>
      <% else %>
      <%= link_to "Edit Profile", edit_profile_path(@profile), class: "btn btn-warning btn-edit-profile" %>
      <% end %>
      <%# FRIENDSHIP BUTTON END %>

      <%# CHAT BUTTON START %>
      <% if @profile.user != current_user %>
      <% if @chat.id.nil? %>
      <%= link_to "Message", profile_chats_path([@profile, @chat]), method: :post, class: "btn btn-primary btn-message" %>
      <% else %>
      <%= link_to "Message", chat_path(@chat), class: "btn btn-primary btn-message" %>
      <% end %>
      <% else %>
      <%= link_to "My Messages", chats_path, class: "btn btn-primary btn-message" %>
      <% end %>
      <%# CHAT BUTTON END %>
    </div>

  </div>

</div>


<div class="container"><hr id="linebrake"></div>


<div class="container" id="mypost" style="display: flex">
  <h2 class="text-center">My Posts</h2>
</div>

<div class="container">
  <%= render 'post', posts: @posts %>
</div>

