<div class="container">
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @profile.photo.key if @profile.photo.attached? %>);">

    <h1><%= @profile.name %></h1>
    <p><%= @profile.bio if @profile.bio %></p>
    <%# FRIENDSHIP BUTTON %>
  <% if @profile.user != current_user %>
    <% if @friendship.asker == current_user %>
      <%= button_tag @friendship.status, disabled: true, class: "btn btn-success" %>
    <% else %>
      <%= simple_form_for ([@profile, @friendship]) do |f| %>
        <%= f.input :status, input_html: {value: 'pending'} %>
        <%# hidden_field_tag(:status, 'pending') %>
        <%= f.submit 'Add Friend', class: "btn btn-primary" %>
        <%# f.button :button, 'Add Friend', type: 'submit', name: 'status', value: 'pending', class: "btn btn-primary" %>
        <%# f.submit "Add Friend", name: "status", value: "pending", class: "btn btn-primary" %>
      <% end %>
    <% end %>
  <% end %>

  </div>
</div>



<div class="container">
  <br>
  <h1>Profile</h1>
  <br>
  <h5>Languages</h5>
  <p><%= @profile.native_language if @profile.native_language %>
  <% if @profile.second_language? %>
     <%= @profile.second_language %></p>
  <% end %>
  <br>
  <h5>Address</h5>
  <p><%= @profile.address if @profile.address %></p>
  <% @profile.diseases.each do |disease| %>
     <p>IÂ´m living with: <%= disease.name %> </p>
     <% end %>

  <%= link_to "ðŸ‘¥", profiles_path %>
  <% if @profile.user == current_user %>
    <%= link_to "âœï¸", edit_profile_path %>
  <% end %>
  <br>
  <br>   
 
</div>

<div class="container">
  <h1 class="text-center">My Posts</h1>
</div>

<%= render 'partial', post: @post %>