<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "logo" do %>
	  <%= cl_image_tag "https://res.cloudinary.com/dvf1ekp5b/image/upload/v1597397060/logohelp2helpnew_c9z57q.png", width: 80, height: 80 %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
         <li class="nav-item">
          <%= link_to "", new_post_path, class: "fas fa-paper-plane btn" %>
        </li>
        <li class="nav-item" >
         <%= link_to "", posts_path, class: "fas fa-rss btn" %>
        </li>
        <li class="nav-item">
         <li>
          <%= link_to "", user_friendships_path, class: "fas fa-users btn" %>
        </li>
           <li>
            <% if current_user.profile %>
              <%= link_to "", profile_path(current_user.profile), class: "btn fas fa-user-circle" %>
            <% else %>
              <%= link_to "Create A Profile", new_profile_path, class: "btn fas fa-user-circle" %>
            <% end %>
          </li>
        
        <li class="nav-item dropdown">
          <% if current_user.profile && current_user.profile.photo.attached? %>
            <%= cl_image_tag current_user.profile.photo.key, width: 40, height: 40, gravity: :face, crop: :fill, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <%= image_tag "https://res.cloudinary.com/tungtzet/image/upload/v1597161724/hands-touching_rr7yp2.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>          
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
  
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign In", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
          </li>
        <% end %>
    </ul>
  </div>
</div>
