<div class="chat-container">
  <div class="row my-5">
<!-- LIST OF USERS -->
    <div class="col-3 conversations-sidebar">
      <h4>Messages</h4>
      <% @chats.each do |chat| %>
      <% partner_profile = current_user == chat.users.first ? chat.users.last.profile : chat.users.first.profile %>
      <div class="person <%= "active" if partner_profile==@partner_profile %>">
        <!-- <div class="online-badge"></div> -->
        <li>
          <% if partner_profile && partner_profile.photo.attached? %>
          <%= cl_image_tag partner_profile.photo.key, width: 40, height: 40, gravity: :face, crop: :fill, class: "avatar" %>
          <% else %>
          <%= image_tag "https://res.cloudinary.com/tungtzet/image/upload/v1597161724/hands-touching_rr7yp2.jpg", class: "avatar" %>
          <% end %>
          <%= link_to partner_profile.name, chat_path(chat, anchor: "message-#{chat.messages.last.id}") %>
        </li>
      </div>
      <% end %>
    </div>
<!-- CHAT FIELD -->
    <div class="col" id="chat-avatar">

      <h1 class="chat-user-link">
        <%= link_to profile_path(@partner_profile) do %>
          <%= cl_image_tag @partner_profile.photo.key, width: 200, height: 200, gravity: :face, crop: :fill if @partner_profile.photo.attached? %>
          <%= @partner_profile.name %>
        <% end %>
      </h1>

      <div class="col scroller" id="chat-page">
        <div id="messages" data-chat-id="<%= @chat.id %>">
          <% @chat.messages.each do |message| %>
          <div class="message-container <%= "current-user" if message.user==current_user %>" id="message-<%= message.id %>">
            <% if message.user.profile && message.user.profile.photo.attached? %>
            <%= cl_image_tag message.user.profile.photo.key, width: 40, height: 40, gravity: :face, crop: :fill, class: "avatar" %>
            <% else %>
            <%= image_tag "https://res.cloudinary.com/tungtzet/image/upload/v1597161724/hands-touching_rr7yp2.jpg", class: "avatar" %>
            <% end %>
            <i class="author">
              <span class="chat-user-name"><%= message.user.profile.name %></span>
              <small class="chat-date"><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
            </i>
            <p class="user-message-content"><%= message.content %></p>
          </div>
          <% end %>
        </div>
      </div>
      <%# TEXT FIELD %>
      <%= simple_form_for [ @chat, @message ], remote: true do |f| %>
      <%= f.input :content, label: false, placeholder: "type something" %>
      <% end %>
    </div>
  </div>
  <div class="circle-chat"></div>
</div>

