<div class="container">
  <h1>Post a message: </h1>
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4">
   <%= simple_form_for(@post) do |f| %>
  <%= f.input :title %>
  <%= f.input :content %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.submit "Post", :class => "btn btn-success" %>
  <%= link_to 'Cancel', root_path, class: 'btn btn-danger ml2-2'%>
<% end %>

  </div>
  </div>
</div>
