<div class="container">

  <div class="circle"></div>
  <h1 class="my-3 h2h-heading">My Friendships</h1>
  <div class="quotes mb-5">
    <blockquote>Friendship is born at that moment when one person says to another, 
    ‘What! You too? I thought I was the only one.</blockquote>
    <cite>- C.S. Lewis</cite>
  </div>

  <h3>These are still open</h3>
  <% @receiver_friendships.each do |friendship| %>
  <div class="notification">
    <% if friendship.asker.profile.photo.attached? %>
      <%= cl_image_tag friendship.asker.profile.photo.key, width: 56, height: 56, gravity: :face, crop: :fill, class: "avatar-large" %>
    <% else %>
      <%= image_tag "https://res.cloudinary.com/tungtzet/image/upload/v1597161724/hands-touching_rr7yp2.jpg", class: "avatar-large" %>
    <% end %>
    <div class="notification-content">
      <span class="badge badge-warning"><%= link_to friendship.asker.profile.name, profile_path(friendship.asker.profile) %></span>
      <p>wants to get in touch with me. I will respond with an open heart.</p> <%# friendship.created_at %>
    </div>

    <div class="notification-actions respond-actions">
      <%= link_to "Accept", user_friendship_path(friendship, friendship: { status: 'accepted' }), method: :patch, remote: true %>
      <%= link_to "Deny", user_friendship_path(friendship, friendship: { status: 'rejected' }), method: :patch, remote: true %>
    </div>
  </div>
  <% end %>

  <% @asker_friendships.each do |friendship| %>
  <div class="notification">
    <% if friendship.receiver.profile.photo.attached? %>
      <%= cl_image_tag friendship.receiver.profile.photo.key, width: 56, height: 56, gravity: :face, crop: :fill, class: "avatar-large" %>
    <% else %>
      <%= image_tag "https://res.cloudinary.com/tungtzet/image/upload/v1597161724/hands-touching_rr7yp2.jpg", class: "avatar-large" %>
    <% end %>
    <div class="notification-content">
      <span class="badge badge-warning"><%= link_to friendship.receiver.profile.name, profile_path(friendship.receiver.profile) %></span>
      <p>to whom I have reached out. I know a good friend goes a long way. I'll will wait.<%# friendship.created_at %></p>
    </div>

    <div class="notification-actions">
      <%= link_to "Cancel request", user_friendship_path(friendship), data: { confirm: 'Are you sure?'}, method: :delete, remote: true %>
    </div>
  </div>
  <% end %>



  <h3 class="mt-5">My friends</h3>
  <div class="cards mb-5">
  <% @friendships.each do |friendship| %>
    <% profile = current_user == friendship.receiver ? friendship.asker.profile : friendship.receiver.profile %>
    <% common_chats = current_user.chats & profile.user.chats %>
    <% chat = common_chats.empty? ? Chat.new : common_chats.first %>
    <div class="card-category friendship" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), 
      url(<%= cl_image_path profile.photo.key if profile.photo.attached? %>)">
      <%= link_to profile.name, profile_path(profile) %>
      <% if chat.id.nil? %>
      <%= link_to "", profile_chats_path([profile, chat]), method: :post, class: "fas fa-comments btn" %>
      <% else %>
      <%= link_to "", chat_path(chat, anchor: "message-#{chat.messages.last.id}"), class: "fas fa-comments btn" %>
      <% end %>
    </div>
  <% end %>
  </div>

</div>