<!DOCTYPE html>
<html>
  <head>
    <title>Help2Help</title>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%# stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <style>
    @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,800;1,400&display=swap');
    </style>

  </head>

  <body>
    <%= render 'shared/navbar' %>
    <div id="minimun-height">
    <%= yield %>
    </div>
    <%= render 'shared/footer'  %>
  </body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</html>
